<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand">akifarfien</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" routerLink='welcome'>Home</a>
                    <a  class="nav-item nav-link">About</a>
                    <a  class="nav-item nav-link">Products</a>
                </div>
                <form class="form-inline ml-auto extracls">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </form>
                <button class="btn btn-outline-light btn-sm" (click)="logout()">Log Out</button>
            </div>
        </nav>
    </div>
    
</body>
</html>