<section class="container">
    
    <div class="row">
     
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div *ngFor ='let resp of respData'>
            <article class="material-card Red">
                <h2>
                    <a [routerLink]="['/detail',resp.id]">
                    <span>{{resp.name}}</span>
                    </a>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        {{resp.gender}}  
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src={{resp.image}}>
                    </div>
                </div>
            </article>
        </div>
    </div>
    </div>
<div class="row col-md-8">
    <div *ngIf="hasPrevious">
        <button class="btn btn-secondary btn-sm pevcls" (click)="previous()">Back</button>
   </div>

    <div *ngIf="hasNext">
         <button class="btn btn-secondary btn-sm nxtcls" (click)="next()"> Next</button>
    </div>
</div>
</section>



<!-- 
<script type="text/javascript">
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script> -->