<div class="pageheder" col-md-2>
    <p class="innerheader">DETAILS OF THE CHARACTOR</p>
</div>
<div class="row">
    <div class="col-md-4">
        
    
        <img class="img-responsive" src={{image}}>
</div>

<div class="col-md-6 form-group btncls">
    <div>
    <input class="form-control" readonly type="text" value="Name : {{name}}"/>
</div>
<div>
    <input class="form-control" readonly type="text" value="Gender : {{gender}}"/> 
</div>
<div>
    <input class="form-control" readonly type="text" value="Origin : {{origin}}"/>
</div>
<div>
    <input class="form-control" readonly type="text" value="Species : {{species}}"/>
</div>
<div>
    <input class="form-control" readonly type="text" value="Status : {{status}}"/>
</div>
<div>
    <input class="form-control" readonly type="text" value="Location : {{location}}"/>
</div>
<div>

<button  class="btn btn-outline-primary" routerLink='/welcome'> Go Back </button>
<div>
</div>
</div>
